
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.error_class{
  color: red;
}
body{
	font-family: Arial!important;
}

.dialogHeader{
	background-color: #ffffff!important;
  color: #494a69!important;
}

.buttoncolor{
	background-color: #f47920!important;
}
md-icon{
  color: #494a69 !important;
}

md-dialog {
  min-width: 40%!important;
  min-height: 50%!important;
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon {
    background-color: #3bb9ff!important;
}

.mt20{
	margin-top: 20px;
}

md-dialog md-select{
    margin-top: -15px;
    width: 100%;
}

md-autocomplete input:not(.md-input) {
    width: 100%;
    border: none;
    line-height: 40px;
}
