<div class="">
  <md-content layout="column" flex class="md-padding" class="space-top-sm">
      <md-button class="md-raised md-primary buttoncolor" ng-click="openDialog($event);">
          Open Dialog
      </md-button>
      <div ng-show="team">
      	<p>You selected</p>
      	<p>Team: {{team}}</p>
      	<p ng-show="employee">Employee: {{employee}}</p>
        <p ng-if="!employee.length" class="error_class">No employee found in {{team}} team .</p>
      </div>
  </md-content>
</div>

<script type="text/ng-template" id="dialog.html">
	<md-dialog aria-label="Employee Dialog" ng-cloak>
  		<md-toolbar class="dialogHeader">
	    	<div class="md-toolbar-tools">
	      		<h2>Select an Employee</h2>
	      		<span flex></span>
	      		<md-button class="md-icon-button" ng-click="closeDialog()">
              <md-icon>close</md-icon>
	        		<!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
	      		</md-button>
	    	</div>
	  	</md-toolbar>
	  	<md-dialog-content>
	    	<div class="md-dialog-content">
	      		<form ng-submit="$event.preventDefault()">
	      			<md-checkbox ng-model="checked" ng-init="checked=true" class="md-primary">
        				Send welcome email to employee
      				</md-checkbox>
      				<p class="mt20">Select a Team</p>
	      			<md-select ng-model="teamname" placeholder="Select Team">
	          			<md-option ng-repeat="item in items" value="{{item.team}}">
	            			{{item.team}}
	          			</md-option>
	        		</md-select>
	        		<p class="mt20">Select an Employee</p>
	        		<md-autocomplete
	        			md-items="item in employee"
	        			md-item-text="item"
	        			md-search-text-change="querySearch(searchText)"
	        			md-search-text="searchText"
	        			md-selected-item="selectedItem"
	        			placeholder="Select Employee"
	        			md-no-cache=true
	        			md-min-length="0">
        				<md-item-template>
				      		<span md-highlight-text="searchText">{{item}}</span>
					    </md-item-template>
	        		</md-autocomplete>
	      		</form>
	    	</div>
	  	</md-dialog-content>
	  	<div class="md-actions">
	    	<md-button class="md-raised" md-autofocus ng-click="closeDialog()">
            	Cancel
        	</md-button>
	    	<md-button class="md-raised md-primary buttoncolor" ng-click="closeDialog()">
            	OK
        	</md-button>
	  	</div>
	</md-dialog>
</script>
